<!-- tool bar -->

<mat-toolbar color="primary">
  <!-- <app-toolbar></app-toolbar> -->
  <span>読んだ本 </span>
  <span class="text-right">一覧</span> 
</mat-toolbar>
<br>

<!-- main card -->
<mat-card class = "card-width">
  <mat-card-content >
      <mat-card-title >書籍登録</mat-card-title>
      <form class="book-form">
      <mat-form-field class="full-width">
        <mat-label>書籍名</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="full-width">
          <mat-label>あらすじ</mat-label>
          <textarea matInput placeholder=" "></textarea>
      </mat-form-field>

      <mat-form-field class="short-width">
          <mat-label>評価点</mat-label>
          <input matInput>
      </mat-form-field>

      </form>
  </mat-card-content>

  <mat-card-actions align="end">
      <button mat-raised-button color="primary">追加</button>
  </mat-card-actions>

</mat-card>
<br>
<!-- book information with card -->
<app-bookinformation></app-bookinformation>
