<!-- tool bar -->
<mat-toolbar color="primary">
    <span>読んだ本 </span>
    <span class="text-right">一覧</span> 
</mat-toolbar>
<br>

<!-- main card -->
<mat-card class = "card-width">
    <mat-card-content >
        <mat-card-title >書籍登録</mat-card-title>
        <form class="book-form">
        <mat-form-field class="full-width">
            <mat-label>書籍名</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>あらすじ</mat-label>
            <textarea matInput placeholder=" "></textarea>
        </mat-form-field>

        <mat-form-field class="short-width">
            <mat-label>評価点</mat-label>
            <input matInput>
        </mat-form-field>

        </form>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button color="primary">追加</button>
    </mat-card-actions>

</mat-card>

<br>
<!-- summary card -->
<mat-card class = "card-width">
    <mat-card-content >
        <mat-card-title >アンドロイドは電気羊の夢を見るか?</mat-card-title>
        <p class="summary-word">
        第三次大戦後の未来、サンフランシスコを舞台に賞金稼ぎのリック・デッカードが、火星から逃亡してきた8体のアンドロイドを「処理」するというあらすじ<br>
        評価: 90点
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="warn">削除</button>
    </mat-card-actions>
</mat-card>

<br>
<mat-card class = "card-width">
    <mat-card-content >
        <mat-card-title >岩田さん: 岩田聡はこんなことを話していた。</mat-card-title>
        <p class="small-word">
        任天堂の元社長、岩田聡さんのことばをまとめた本<br>
        評価: 90点
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="warn">削除</button>
    </mat-card-actions>
</mat-card>
