@import '@angular/material/prebuilt-themes/indigo-pink.css';
.book-form{
    width: 100%;

}
.full-width{
    width:90%;
}

.short-width{
    width: 50%;
}
.card-width{
    margin:auto;
    width: 90%;
}
.summary-word{
    font-size: 10px;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.text-right{
    margin: 0 0 0 auto;
}
